<?xml version="1.0" encoding="UTF-8"?>
<config>
<data_enable>1</data_enable>
<apn_retry_enable>1</apn_retry_enable>
<apn_retry>1</apn_retry>
<connect_mode>0</connect_mode>
<roam_connect>0</roam_connect>
<max_idle_time>0</max_idle_time>
<mtu_edit_enable>0</mtu_edit_enable>
<mtu_size>1500</mtu_size>
<dataswitch>1</dataswitch>
<auto_dial_enabled>0</auto_dial_enabled>
<auto_dial_switch>1</auto_dial_switch>
<pdp_always_on>0</pdp_always_on>
<dialup_number_enabled>0</dialup_number_enabled>
<authentication_info_enabled>1</authentication_info_enabled>
<ip_type_enabled>1</ip_type_enabled>
<apn_enabled>1</apn_enabled>
<connection_button>1</connection_button>
<ServiceType>0</ServiceType>
<editable>0</editable>
<idle_time_enabled>0</idle_time_enabled>
<dnsstatus>1</dnsstatus>
<primarydns/>
<secondarydns/>
<max_profile_number>100</max_profile_number>
<pin_checkbox_checked>1</pin_checkbox_checked>
<apn_empty_enable>1</apn_empty_enable>
<manual_disconnect_mode>0</manual_disconnect_mode>
<profile_connected_readonly_enable>0</profile_connected_readonly_enable>
<apn_block_enable>0</apn_block_enable>
<apn_block_list/>
<new_profile_set_not_default_enable>0</new_profile_set_not_default_enable>
<autoapn_iptype_enable>1</autoapn_iptype_enable>
<autoapn_iptype>2</autoapn_iptype>
<special_apn_adapter_enable>0</special_apn_adapter_enable>
<rule>0</rule>
<special_enable>0</special_enable>
<voip_data_switch_display_enable>0</voip_data_switch_display_enable>
<lte_null_apn_dialup_enable>0</lte_null_apn_dialup_enable>
<voip_display_connection_status_enable>0</voip_display_connection_status_enable>
<preset_auto_edit_switch>0</preset_auto_edit_switch>
<all_profiles_edit_switch>0</all_profiles_edit_switch>
<dialup_keep_constant_apn_enable>0</dialup_keep_constant_apn_enable>
<special_custom_apn>
<custom_plmn/>
<custom_gid/>
<custom_profilename/>
<custom_preparation_profilename/>
</special_custom_apn>
<profiles_rule>0</profiles_rule>
<show_only_default_switch>0</show_only_default_switch>
<attach_apn_enable>0</attach_apn_enable>
<dual_imsi_enable>1</dual_imsi_enable>
<profile_display_pwd_enable>0</profile_display_pwd_enable>
<roam_dialup_enable>0</roam_dialup_enable>
<network_mode_list/>
<reattach_enable>0</reattach_enable>
<max_username_length>32</max_username_length>
<max_userpwd_length>32</max_userpwd_length>
<single_pdn_switch_enable>0</single_pdn_switch_enable>
<single_pdn_switch>0</single_pdn_switch>
<nr_slice_enable>0</nr_slice_enable>
<connect_delay_time>
<enable>0</enable>
<rule>0</rule>
<delay_err_code/>
<max_connect_failed_count>0</max_connect_failed_count>
<delay_type>0</delay_type>
<delay_time>0</delay_time>
</connect_delay_time>
<multi_wan_enabled>0</multi_wan_enabled>
<single_pdn_retry_enable>0</single_pdn_retry_enable>
<esm_reject_cause_check>27,30,33</esm_reject_cause_check>
<detach_wait_time>2000</detach_wait_time>
<update_wan_enable>0</update_wan_enable>
<dialupapn_enable>1</dialupapn_enable>
<roamdisplay_enable>1</roamdisplay_enable>
<ipv6_customized_enable>0</ipv6_customized_enable>
</config>
